<%- include('includes/_navbar') %>
	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-4 col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Party Name
					</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem" src="/images/profile.svg" alt="..." />
					</div>
					<div class="text-center font-weight-bold mb-3">
						<p>Candidate Name</p>
					</div>
					<p class="text-success">
						Apki baar modi sarkar ! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, voluptatibus.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Party Name
					</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem" src="/images/profile.svg" alt="..." />
					</div>
					<div class="text-center font-weight-bold mb-3">
						<p>Candidate Name</p>
					</div>
					<p class="text-success">
						Apki baar modi sarkar ! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, voluptatibus.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Party Name
					</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem" src="/images/profile.svg" alt="..." />
					</div>
					<div class="text-center font-weight-bold mb-3">
						<p>Candidate Name</p>
					</div>
					<p class="text-success">
						Apki baar modi sarkar ! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, voluptatibus.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Party Name
					</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem" src="/images/profile.svg" alt="..." />
					</div>
					<div class="text-center font-weight-bold mb-3">
						<p>Candidate Name</p>
					</div>
					<p class="text-success">
						Apki baar modi sarkar ! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, voluptatibus.
					</p>
				</div>
			</div>
		</div>
	</div>

	<%- include('includes/_footer') %>