<%- include('includes/_navbar') %>
	<!-- Content Row -->
	<div class="row">
		<div class="w-100 p-2">
			<div class="card shadow mb-2">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Results Table
					</h6>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Candidate Name</th>
										<th>Party Name</th>
										<th>No of Votes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Candidate1</td>
										<td>Party1</td>
										<td>21</td>
									</tr>
									<tr>
										<td>Candidate2</td>
										<td>Party2</td>
										<td>10</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-8 col-lg-8">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Bar Chart
					</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-bar pt-4">
						<canvas id="barChart"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Pie Chart
					</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-pie pt-4">
						<canvas id="pieChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('includes/_footer') %>